@import "_slick.scss";
@import "_reset.scss";
@import "_variable.scss";
@import "_header.scss";
@import "_body.scss";
@import "_aside.scss";
@import "_footer.scss";
@import "media/_media-header.scss";
@import "media/_media-body-s1.scss";
@import "media/_media-body-s2.scss";
@import "media/_media-body-s3.scss";
@import "media/_media-body-s4.scss";
@import "media/_media-body-s5.scss";
@import "media/_media-footer.scss";

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}
.conteiner {
  max-width: 1124px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  color: #2f281e;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ffffff;
  background: #ff9900;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  border: none;
}
